#ar{
    margin-left: auto;
    margin-right: -150px;
}

#cat{
    margin-left: auto;
    margin-right: -30%;
}
#pro{
    margin-left: auto;
    margin-right: -30%;
}
#log{
    margin-left: auto;
}

#ctn3{
    display: inline-block;
    width: 36%;
    vertical-align: right;
}

#img2{
    margin-left: 300px
}

#img1{
    margin-top: -185px;
    margin-left: 170px
}
#ctn2{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#ctn1_1{
    display: inline-block;
    vertical-align: top;
}

#ctn1{
    margin-left:auto;
    margin-right: auto;
    width: 250px;
    display: flex;

}
#ctnI {
    margin: auto
}

