#ar{
    margin-left: auto;
    margin-right: auto;
}

#ctn3{
    display: inline-block;
    width: 36%;
    vertical-align: right;
}

#img2{
    margin-left: 300px
}

#img1{
    margin-top: -185px;
    margin-left: 170px
}
#ctn2{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#ctn1_1{
    display: inline-block;
    vertical-align: top;
}

#ctn1{
    margin-left:auto;
    margin-right: auto;
    width: 250px;
    display: flex;

}
#ctnI {
    margin: auto
}

#ctnbtns{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
#ctnbtns1{
    border: 5px solid rgb(255, 0, 0);
    padding: 5px; 
    
}
#modi{
    margin-top: 9%;
}

#ctnPro{
    display: inline-block;
    width: 27%;
    vertical-align: top;
    margin-left: 200px;
}
