{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <title>Iniciar Sesion</title>
</head>
<body>
<style>
    body{
        background-image: url('{% static "imagenes/LogReg/log.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
{% block content %}
<div class="bg-dark" id="ctn1">
    <div class="container" id="ctn2">
        <div class="row justify-content-center" id="ctn3">
            <div class="bg-light" id="ctn4">
                <form class="form ml-3" method="POST">
                    {% csrf_token %}
                    <h2 class="mb-3 mt-3 text-center">Iniciar Sesión</h2>
                    <p class="">Rellene el formulario con los datos solicitados:</p>
                    
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre:</label> 
                        {{ form.username }}
                    </div>

                    <div class="mb-2">
                        <label for="password1" class="form-label">Contraseña:</label> 
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary ">Login in</button>                
                </form>

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <label class="form-label ml-3 mt-2">¿Aún no se ha registrado?</label> <br>
                    <a href="{% url 'register' %}" class="btn btn-secondary ml-3">Regístrese Ahora</a>
                </form><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>