{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/editar_categoria.css'%}">
    <title>Editar Categoria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Agrega estilos personalizados aquí, si es necesario */
    </style>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Editar Categoría</h2>
                    </div>
                    <div class="card-body">
                        <form class="form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label style="font-weight: bold;">Nombre:</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label style="font-weight: bold;">Descripción:</label> <br>
                                {{ form.descripcion }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Editar</button>
                                <a href="{% url 'Categoria_P' %}" class="btn btn-secondary">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>