{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los productos Registrados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <h3 class="text-center">Listado de Productos</h3>
  
        <form method="get" action="{% url 'vertodos_P' %}" class="form-inline justify-content-center mb-4">
            {% csrf_token %}
            <label for="categoria" class="mr-2">Filtrar por Categoría:</label>
            <select name="categoria" id="categoria" class="form-control mr-2">
                <option value="">Todas</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}"
                        {% if categoria.id == request.GET.categoria|default:"" %}
                            selected
                        {% endif %}>
                        {{ categoria.name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" id="filtar">Filtrar</button> &nbsp;
            <a href="{% url 'menu' %}" class="btn btn-danger">Regresar </a>
        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in page_obj %}
                <tr>
                    <td> <a href="{% url 'detalle_productos' producto.id %}?origen=vertodos">{{ producto.name }}</a></td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td><img src="{{ producto.img.url }}" alt="{{ producto.name }}" width="150px" height="150px"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $("#filtrar").click(function() {
            var categoria = $("#categoria").val();
            window.location.href = "{% url 'vertodos_P' %}?categoria=" + categoria;
        });
        </script>
        
</html>